body {
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("{% static 'home/images/home_pic.jpeg' %}") center/cover no-repeat;
    color: white;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.25rem;
}

div {
    background-color: brown;
}