<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chop It Like It's Hot - Created Recipe</title>
    <!-- Vanilla CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <section class="header-section">
        <h1> Chop It Like It's Hot </h1>
    </section>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold" href="#">Chop It Like It's Hot</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{%url 'recipes:list' %}">Recipes</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'recipes:create' %}">Create Recipe</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'about:about' %}">About Me</a></li>
                    <li class="nav-item"><a class="nav-link text-danger" href="{% url 'logout' %}">Logout</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="mt-4 col-12">
        <div class="d-flex justify-content-center">
            <h2> You've successfully created a recipe!</h2>
        </div>
        <div class="mt-3 mb-4 col-12">
            <div class="d-flex justify-content-center">
                <a class="btn btn-secondary btn-lg me-4" href="{%url 'recipes:create' %}" role="button"> Create another
                    recipe</a>
                <a class="btn btn-secondary btn-lg" href="{%url 'recipes:list' %}" role="button"> Back to all
                    recipes</a>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer class="text-center py-4 text-muted border-top">
        Chop It Like It's Hot - Built by Challis Regan
        <p>
            <a class="m-2" href="https://cmr927.github.io/portfolio-website/"> Portfolio </a>
            <a class="m-2" href="https://github.com/cmr927">Github </a>
            <a class="m-2" href="https://linkedin.com/in/challis-regan-9121a584"> LinkedIn </a>
            <a class="m-2" href="{% url 'logout' %}">Logout</a>
        </p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>